# 依赖目录
node_modules
dist
dist-ssr

# 环境文件
.env.local
.env.*.local

# 日志文件
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 编辑器目录和文件
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 构建和测试
coverage
*.local
.eslintcache

# 其他
.npm
.yarn
.pnp.*

# pnpm特有
.pnpm-store/
.pnpm-workspace.yaml
**/node_modules/.pnpm/
